.colstyle {
    border: 1px solid black;
    height: 100px;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.colinsert-button {
    text-align: center;
}

.container-border{
    border: 1px solid black;
}

.invoervelden {
    border: 2px solid black;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

#player {
    background-color: yellow;
    text-align: center;
    border: 1px solid black;
}

.jumbotron { 
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(30,87,153,0.54) 46%, rgba(125,185,232,0.18) 82%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(30,87,153,0.54) 46%,rgba(125,185,232,0.18) 82%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(30,87,153,0.54) 46%,rgba(125,185,232,0.18) 82%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  }

#winner {
    /* background-image: linear-gradient(to left, red, orange); */
    /* background-image: linear-gradient(to left, yellow, orange); */
    font-weight: bold;
    font-size: 18px;
    animation:blinkingText 1.0s infinite;
}

@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: #000;    }
}